<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="3.6.0" targetFramework="net48" />
  <package id="LibVLCSharp.WinForms" version="3.6.0" targetFramework="net48" />
  <package id="Magick.NET.Core" version="8.2.1" targetFramework="net48" />
  <package id="Magick.NET.SystemDrawing" version="4.0.4" targetFramework="net48" />
  <package id="Magick.NET.SystemWindowsMedia" version="4.0.4" targetFramework="net48" />
  <package id="Magick.NET-Q16-AnyCPU" version="8.2.1" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net461" version="1.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="NLog" version="4.7.10" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.16" targetFramework="net461" />
</packages>