<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="3.4.9" targetFramework="net461" />
  <package id="LibVLCSharp.WinForms" version="3.4.9" targetFramework="net461" />
  <package id="Magick.NET.Core" version="6.1.1" targetFramework="net461" />
  <package id="Magick.NET.SystemDrawing" version="2.0.12" targetFramework="net461" />
  <package id="Magick.NET.SystemWindowsMedia" version="3.0.6" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.23.2" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="NLog" version="4.7.7" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.12" targetFramework="net461" />
</packages>