<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="PhotoTagsSynchronizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ImageListViewDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <PhotoTagsSynchronizer.Properties.Settings>
      <setting name="LastFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>1173, 778</value>
      </setting>
      <setting name="SplitContainerFolder" serializeAs="String">
        <value>283</value>
      </setting>
      <setting name="SplitContainerImages" serializeAs="String">
        <value>549</value>
      </setting>
      <setting name="SplitContainerMain" serializeAs="String">
        <value>514</value>
      </setting>
      <setting name="SplitContainerMap" serializeAs="String">
        <value>277</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="LastGoogleLocationFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationUser" serializeAs="String">
        <value />
      </setting>
      <setting name="IsMainFormMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ComboBoxGoogleTimeZoneShift" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ComboBoxGoogleLocationInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ComboBoxMapZoomLevel" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="RenderertoolStripComboBox" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CloseWarningWindowsAutomatically" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaAiConfidence" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeKeywords" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizePeoples" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeMap" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeDates" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeExiftool" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeWarnings" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeProperties" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ShowHistortyColumns" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowErrorColumns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CellSizeRename" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RenameVariable" serializeAs="String">
        <value>%Trim%%MediaFileNow_DateTime% %FileNameWithoutDateTime%%Extension%</value>
      </setting>
      <setting name="RenameDateFormats" serializeAs="String">
        <value>yyyy_MM_dd_HH_mm_ss
yyyy_MM_dd-HH_mm_ss
yyyy_MM_dd HH_mm_ss
yyyy_MM_dd.HH_mm_ss
yyyy_MM_ddHH_mm_ss

yyyy_MM_dd_HH.mm.ss
yyyy_MM_dd-HH.mm.ss
yyyy_MM_dd HH.mm.ss
yyyy_MM_dd.HH.mm.ss
yyyy_MM_ddHH.mm.ss

yyyy_MM_dd_HH mm ss
yyyy_MM_dd-HH mm ss
yyyy_MM_dd HH mm ss
yyyy_MM_dd.HH mm ss
yyyy_MM_ddHH mm ss

yyyy_MM_dd_HHmmss
yyyy_MM_dd-HHmmss
yyyy_MM_dd HHmmss
yyyy_MM_dd.HHmmss
yyyy_MM_ddHHmmss




yyyy-MM-dd_HH-mm-ss
yyyy-MM-dd-HH-mm-ss
yyyy-MM-dd HH-mm-ss
yyyy-MM-dd.HH-mm-ss
yyyy-MM-dd.HH-mm-ss
yyyy-MM-ddHH-mm-ss

yyyy-MM-dd_HH.mm.ss
yyyy-MM-dd-HH.mm.ss
yyyy-MM-dd HH.mm.ss
yyyy-MM-dd.HH.mm.ss
yyyy-MM-ddHH.mm.ss

yyyy-MM-dd_HH mm ss
yyyy-MM-dd-HH mm ss
yyyy-MM-dd HH mm ss
yyyy-MM-dd.HH mm ss
yyyy-MM-ddHH mm ss

yyyy-MM-dd_HHmmss
yyyy-MM-dd-HHmmss
yyyy-MM-dd HHmmss
yyyy-MM-dd.HHmmss
yyyy-MM-ddHHmmss




yyyy MM dd_HH-mm-ss
yyyy MM dd-HH-mm-ss
yyyy MM dd HH-mm-ss
yyyy MM dd.HH-mm-ss
yyyy MM ddHH-mm-ss

yyyy MM dd_HH.mm.ss
yyyy MM dd-HH.mm.ss
yyyy MM dd HH.mm.ss
yyyy MM dd.HH.mm.ss
yyyy MM ddHH.mm.ss

yyyy MM dd_HH mm ss
yyyy MM dd-HH mm ss
yyyy MM dd HH mm ss
yyyy MM dd.HH mm ss
yyyy MM ddHH mm ss

yyyy MM dd_HHmmss
yyyy MM dd-HHmmss
yyyy MM dd HHmmss
yyyy MM dd.HHmmss
yyyy MM ddHHmmss




yyyy.MM.dd_HH-mm-ss
yyyy.MM.dd-HH-mm-ss
yyyy.MM.dd HH-mm-ss
yyyy.MM.dd.HH-mm-ss
yyyy.MM.ddHH-mm-ss

yyyy.MM.dd_HH.mm.ss
yyyy.MM.dd-HH.mm.ss
yyyy.MM.dd HH.mm.ss
yyyy.MM.dd.HH.mm.ss
yyyy.MM.ddHH.mm.ss

yyyy.MM.dd_HH mm ss
yyyy.MM.dd-HH mm ss
yyyy.MM.dd HH mm ss
yyyy.MM.dd.HH mm ss
yyyy.MM.ddHH mm ss

yyyy.MM.dd_HHmmss
yyyy.MM.dd-HHmmss
yyyy.MM.dd HHmmss
yyyy.MM.dd.HHmmss
yyyy.MM.ddHHmmss




yyyyMMdd_HH-mm-ss
yyyyMMdd-HH-mm-ss
yyyyMMdd HH-mm-ss
yyyyMMdd.HH-mm-ss
yyyyMMddHH-mm-ss

yyyyMMdd_HH.mm.ss
yyyyMMdd-HH.mm.ss
yyyyMMdd HH.mm.ss
yyyyMMdd.HH.mm.ss
yyyyMMddHH.mm.ss

yyyyMMdd_HH mm ss
yyyyMMdd-HH mm ss
yyyyMMdd HH mm ss
yyyyMMdd.HH mm ss
yyyyMMddHH mm ss

yyyyMMdd_HHmmss
yyyyMMdd-HHmmss
yyyyMMdd HHmmss
yyyyMMdd.HHmmss
yyyyMMddHHmmss







yyyy_MM_dd_HH_mm
yyyy_MM_dd-HH_mm
yyyy_MM_dd HH_mm
yyyy_MM_dd.HH_mm
yyyy_MM_ddHH_mm

yyyy_MM_dd_HH.mm
yyyy_MM_dd-HH.mm
yyyy_MM_dd HH.mm
yyyy_MM_dd.HH.mm
yyyy_MM_ddHH.mm

yyyy_MM_dd_HH mm
yyyy_MM_dd-HH mm
yyyy_MM_dd HH mm
yyyy_MM_dd.HH mm
yyyy_MM_ddHH mm

yyyy_MM_dd_HHmm
yyyy_MM_dd-HHmm
yyyy_MM_dd HHmm
yyyy_MM_dd.HHmm
yyyy_MM_ddHHmm




yyyy-MM-dd_HH-mm
yyyy-MM-dd-HH-mm
yyyy-MM-dd HH-mm
yyyy-MM-dd.HH-mm
yyyy-MM-dd.HH-mm
yyyy-MM-ddHH-mm

yyyy-MM-dd_HH.mm
yyyy-MM-dd-HH.mm
yyyy-MM-dd HH.mm
yyyy-MM-dd.HH.mm
yyyy-MM-ddHH.mm

yyyy-MM-dd_HH mm
yyyy-MM-dd-HH mm
yyyy-MM-dd HH mm
yyyy-MM-dd.HH mm
yyyy-MM-ddHH mm

yyyy-MM-dd_HHmm
yyyy-MM-dd-HHmm
yyyy-MM-dd HHmm
yyyy-MM-dd.HHmm
yyyy-MM-ddHHmm




yyyy MM dd_HH-mm
yyyy MM dd-HH-mm
yyyy MM dd HH-mm
yyyy MM dd.HH-mm
yyyy MM ddHH-mm

yyyy MM dd_HH.mm
yyyy MM dd-HH.mm
yyyy MM dd HH.mm
yyyy MM dd.HH.mm
yyyy MM ddHH.mm

yyyy MM dd_HH mm
yyyy MM dd-HH mm
yyyy MM dd HH mm
yyyy MM dd.HH mm
yyyy MM ddHH mm

yyyy MM dd_HHmm
yyyy MM dd-HHmm
yyyy MM dd HHmm
yyyy MM dd.HHmm
yyyy MM ddHHmm




yyyy.MM.dd_HH-mm
yyyy.MM.dd-HH-mm
yyyy.MM.dd HH-mm
yyyy.MM.dd.HH-mm
yyyy.MM.ddHH-mm

yyyy.MM.dd_HH.mm
yyyy.MM.dd-HH.mm
yyyy.MM.dd HH.mm
yyyy.MM.dd.HH.mm
yyyy.MM.ddHH.mm

yyyy.MM.dd_HH mm
yyyy.MM.dd-HH mm
yyyy.MM.dd HH mm
yyyy.MM.dd.HH mm
yyyy.MM.ddHH mm

yyyy.MM.dd_HHmm
yyyy.MM.dd-HHmm
yyyy.MM.dd HHmm
yyyy.MM.dd.HHmm
yyyy.MM.ddHHmm




yyyyMMdd_HH-mm
yyyyMMdd-HH-mm
yyyyMMdd HH-mm
yyyyMMdd.HH-mm
yyyyMMddHH-mm

yyyyMMdd_HH.mm
yyyyMMdd-HH.mm
yyyyMMdd HH.mm
yyyyMMdd.HH.mm
yyyyMMddHH.mm

yyyyMMdd_HH mm
yyyyMMdd-HH mm
yyyyMMdd HH mm
yyyyMMdd.HH mm
yyyyMMddHH mm

yyyyMMdd_HHmm
yyyyMMdd-HHmm
yyyyMMdd HHmm
yyyyMMdd.HHmm
yyyyMMddHHmm



yyyy_MM_dd
yyyy-MM-dd
yyyy MM dd
yyyy.MM.dd
yyyyMMdd

</value>
      </setting>
      <setting name="AutoCorrect" serializeAs="String">
        <value />
      </setting>
      <setting name="WriteMetadataTags" serializeAs="String">
        <value>-charset
filename=UTF8
-overwrite_original_in_place
-m
-F

-XMP-exif:GPSDateTime={LocationDateTimeUTC}
-XMP:GPSDateTime={LocationDateTimeUTC}
-GPS:GPSDateStamp={LocationDateTimeDateStamp}
-GPS:GPSTimeStamp={LocationDateTimeTimeStamp}
-GPSDateStamp={LocationDateTimeDateStamp}
-GPSTimeStamp={LocationDateTimeTimeStamp}
                    
-Composite:SubSecCreateDate={MediaDateTaken}
-EXIF:CreateDate={MediaDateTaken}
-XMP-xmp:CreateDate={MediaDateTaken}
-XMP:CreateDate={MediaDateTaken}
-IPTC:DigitalCreationDate={MediaDateTakenDateStamp}
-IPTC:DigitalCreationTime={MediaDateTakenTimeStamp}

-Composite:SubSecDateTimeOriginal={MediaDateTaken}
-ExifIFD:DateTimeOriginal={MediaDateTaken}
-EXIF:DateTimeOriginal={MediaDateTaken}
-XMP-photoshop:DateCreated={MediaDateTaken}
-IPTC:DateCreated={MediaDateTakenDateStamp}
-IPTC:TimeCreated={MediaDateTakenTimeStamp}
-CreateDate={MediaDateTaken}

-XMP-xmpDM:Album={PersonalAlbum}
-XMP:Album={PersonalAlbum}
-IPTC:Headline={PersonalAlbum}
-XMP-photoshop:Headline={PersonalAlbum}
-ItemList:Album={PersonalAlbum}

-EXIF:Artist={PersonalAuthor}
-IPTC:By-line={PersonalAuthor}
-XMP-dc:Creator={PersonalAuthor}
-XMP:Creator={PersonalAuthor}
-EXIF:XPAuthor={PersonalAuthor}
-ItemList:Author={PersonalAuthor} 
-Creator={PersonalAuthor} 

-File:Comment={PersonalComments}
-ExifIFD:UserComment={PersonalComments}
-EXIF:UserComment={PersonalComments}
-EXIF:XPComment={PersonalComments}
-XMP-album:Notes={PersonalComments}
-XMP-acdsee:Notes={PersonalComments}
-XMP:UserComment={PersonalComments}
-XMP:Notes={PersonalComments}
-ItemList:Comment={PersonalComments} 
     
-EXIF:ImageDescription={PersonalDescription}
-XMP:ImageDescription={PersonalDescription}
-XMP-dc:Description={PersonalDescription}
-XMP:Description={PersonalDescription}
-IPTC:Caption-Abstract={PersonalDescription}
-ItemList:Description={PersonalDescription} 
-Description={PersonalDescription} 
 
-XMP-microsoft:RatingPercent={PersonalRatingPercent}
-XMP:RatingPercent={PersonalRatingPercent}
-EXIF:RatingPercent={PersonalRatingPercent}

-XMP-xmp:Rating={PersonalRating}
-XMP:Rating={PersonalRating}
-XMP-acdsee:Rating={PersonalRating}
-EXIF:Rating={PersonalRating}
-Rating={PersonalRating}

-ItemList:Title={PersonalTitle}
-EXIF:XPTitle={PersonalTitle}
-XMP-dc:Title={PersonalTitle}
-XMP:Title={PersonalTitle}
-ItemList:Title={PersonalTitle} 

-EXIF:GPSLatitude={LocationLatitude}
-XMP-exif:GPSLatitude={LocationLatitude}
-XMP:GPSLatitude={LocationLatitude}
-GPS:GPSLatitude={LocationLatitude}
-GPSLatitude={LocationLatitude}

-EXIF:GPSLongitude={LocationLongitude}
-XMP-exif:GPSLongitude={LocationLongitude}
-XMP:GPSLongitude={LocationLongitude}
-GPS:GPSLongitude={LocationLongitude}
-GPSLongitude={LocationLongitude}

-XMP:Location={LocationName}
-XMP-iptcCore:Location={LocationName}
-XMP-iptcExt:LocationShownSublocation={LocationName}
-XMP:LocationCreatedSublocation={LocationName}
-IPTC:Sub-location={LocationName}
-Sub-location={LocationName}
-Location={LocationName} 

-XMP-iptcExt:LocationShownProvinceState={LocationState}
-XMP-photoshop:State={LocationState}
-IPTC:Province-State={LocationState}
-XMP:State={LocationState}
-State={LocationState} 

-XMP-photoshop:City={LocationCity}
-XMP-iptcExt:LocationShownCity={LocationCity}
-IPTC:City={LocationCity}
-XMP:City={LocationCity}
-City={LocationCity} 

-IPTC:Country-PrimaryLocationName={LocationCountry}
-XMP-photoshop:Country={LocationCountry}
-XMP-iptcExt:LocationShownCountryName={LocationCountry}
-XMP:Country={LocationCountry}
-Country={LocationCountry} 

-Subject=
-Keyword=
-Keywords=
-XPKeywords=
-Category=
-CatalogSets=

-HierarchicalKeywords=
-HierarchicalSubject=
-LastKeywordXMP=
-LastKeywordIPTC=
-TagsList=

-Categories={PersonalKeywordsXML}
-XPKeywords={PersonalKeywordsList}
-ImageRegion=
-RegionInfoMP={PersonalRegionInfoMP}
-RegionInfo={PersonalRegionInfo}</value>
      </setting>
      <setting name="WriteMetadataKeywordItems" serializeAs="String">
        <value>-Keywords+={KeywordItem}
-Subject+={KeywordItem}
-TagsList+={KeywordItem}
-CatalogSets+={KeywordItem}</value>
      </setting>
      <setting name="WriteMetadataPropertiesVideoAlbum" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteMetadataPropertiesVideoKeywords" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationThumbnail" serializeAs="String">
        <value>192, 192</value>
      </setting>
    </PhotoTagsSynchronizer.Properties.Settings>
    <Properties.Settings>
      <setting name="LastFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>1173, 778</value>
      </setting>
      <setting name="SplitContainerFolder" serializeAs="String">
        <value>283</value>
      </setting>
      <setting name="SplitContainerImages" serializeAs="String">
        <value>549</value>
      </setting>
      <setting name="SplitContainerMain" serializeAs="String">
        <value>514</value>
      </setting>
      <setting name="SplitContainerMap" serializeAs="String">
        <value>277</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="LastGoogleLocationFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationUser" serializeAs="String">
        <value />
      </setting>
      <setting name="IsMainFormMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ComboBoxGoogleTimeZoneShift" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ComboBoxGoogleLocationInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ComboBoxMapZoomLevel" serializeAs="String">
        <value>13</value>
      </setting>
    </Properties.Settings>
    
    
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.WebUtilities" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TimeZoneConverter" publicKeyToken="e20ab7d0d9479841" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


</configuration>
