<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="PhotoTagsSynchronizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ImageListViewDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <PhotoTagsSynchronizer.Properties.Settings>
      <setting name="LastFolder" serializeAs="String">
        <value>Desktop</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>1173, 778</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="LastGoogleLocationFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationUser" serializeAs="String">
        <value />
      </setting>
      <setting name="IsMainFormMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ComboBoxGoogleTimeZoneShift" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ComboBoxGoogleLocationInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ComboBoxMapZoomLevel" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="CloseWarningWindowsAutomatically" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaAiConfidence" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeKeywords" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizePeoples" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeMap" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeDates" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeExiftool" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeWarnings" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeProperties" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ShowHistortyColumns" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowErrorColumns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CellSizeRename" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RenameVariable" serializeAs="String">
        <value>%Trim%%MediaFileNow_DateTime% %FileNameWithoutExtensionDateTime%%Extension%</value>
      </setting>
      <setting name="RenameDateFormats" serializeAs="String">
        <value>yyyy_MM_dd_HH_mm_ss
yyyy_MM_dd-HH_mm_ss
yyyy_MM_dd HH_mm_ss
yyyy_MM_dd.HH_mm_ss
yyyy_MM_ddHH_mm_ss

yyyy_MM_dd_HH.mm.ss
yyyy_MM_dd-HH.mm.ss
yyyy_MM_dd HH.mm.ss
yyyy_MM_dd.HH.mm.ss
yyyy_MM_ddHH.mm.ss

yyyy_MM_dd_HH mm ss
yyyy_MM_dd-HH mm ss
yyyy_MM_dd HH mm ss
yyyy_MM_dd.HH mm ss
yyyy_MM_ddHH mm ss

yyyy_MM_dd_HHmmss
yyyy_MM_dd-HHmmss
yyyy_MM_dd HHmmss
yyyy_MM_dd.HHmmss
yyyy_MM_ddHHmmss




yyyy-MM-dd_HH-mm-ss
yyyy-MM-dd-HH-mm-ss
yyyy-MM-dd HH-mm-ss
yyyy-MM-dd.HH-mm-ss
yyyy-MM-dd.HH-mm-ss
yyyy-MM-ddHH-mm-ss

yyyy-MM-dd_HH.mm.ss
yyyy-MM-dd-HH.mm.ss
yyyy-MM-dd HH.mm.ss
yyyy-MM-dd.HH.mm.ss
yyyy-MM-ddHH.mm.ss

yyyy-MM-dd_HH mm ss
yyyy-MM-dd-HH mm ss
yyyy-MM-dd HH mm ss
yyyy-MM-dd.HH mm ss
yyyy-MM-ddHH mm ss

yyyy-MM-dd_HHmmss
yyyy-MM-dd-HHmmss
yyyy-MM-dd HHmmss
yyyy-MM-dd.HHmmss
yyyy-MM-ddHHmmss




yyyy MM dd_HH-mm-ss
yyyy MM dd-HH-mm-ss
yyyy MM dd HH-mm-ss
yyyy MM dd.HH-mm-ss
yyyy MM ddHH-mm-ss

yyyy MM dd_HH.mm.ss
yyyy MM dd-HH.mm.ss
yyyy MM dd HH.mm.ss
yyyy MM dd.HH.mm.ss
yyyy MM ddHH.mm.ss

yyyy MM dd_HH mm ss
yyyy MM dd-HH mm ss
yyyy MM dd HH mm ss
yyyy MM dd.HH mm ss
yyyy MM ddHH mm ss

yyyy MM dd_HHmmss
yyyy MM dd-HHmmss
yyyy MM dd HHmmss
yyyy MM dd.HHmmss
yyyy MM ddHHmmss




yyyy.MM.dd_HH-mm-ss
yyyy.MM.dd-HH-mm-ss
yyyy.MM.dd HH-mm-ss
yyyy.MM.dd.HH-mm-ss
yyyy.MM.ddHH-mm-ss

yyyy.MM.dd_HH.mm.ss
yyyy.MM.dd-HH.mm.ss
yyyy.MM.dd HH.mm.ss
yyyy.MM.dd.HH.mm.ss
yyyy.MM.ddHH.mm.ss

yyyy.MM.dd_HH mm ss
yyyy.MM.dd-HH mm ss
yyyy.MM.dd HH mm ss
yyyy.MM.dd.HH mm ss
yyyy.MM.ddHH mm ss

yyyy.MM.dd_HHmmss
yyyy.MM.dd-HHmmss
yyyy.MM.dd HHmmss
yyyy.MM.dd.HHmmss
yyyy.MM.ddHHmmss




yyyyMMdd_HH-mm-ss
yyyyMMdd-HH-mm-ss
yyyyMMdd HH-mm-ss
yyyyMMdd.HH-mm-ss
yyyyMMddHH-mm-ss

yyyyMMdd_HH.mm.ss
yyyyMMdd-HH.mm.ss
yyyyMMdd HH.mm.ss
yyyyMMdd.HH.mm.ss
yyyyMMddHH.mm.ss

yyyyMMdd_HH mm ss
yyyyMMdd-HH mm ss
yyyyMMdd HH mm ss
yyyyMMdd.HH mm ss
yyyyMMddHH mm ss

yyyyMMdd_HHmmss
yyyyMMdd-HHmmss
yyyyMMdd HHmmss
yyyyMMdd.HHmmss
yyyyMMddHHmmss







yyyy_MM_dd_HH_mm
yyyy_MM_dd-HH_mm
yyyy_MM_dd HH_mm
yyyy_MM_dd.HH_mm
yyyy_MM_ddHH_mm

yyyy_MM_dd_HH.mm
yyyy_MM_dd-HH.mm
yyyy_MM_dd HH.mm
yyyy_MM_dd.HH.mm
yyyy_MM_ddHH.mm

yyyy_MM_dd_HH mm
yyyy_MM_dd-HH mm
yyyy_MM_dd HH mm
yyyy_MM_dd.HH mm
yyyy_MM_ddHH mm

yyyy_MM_dd_HHmm
yyyy_MM_dd-HHmm
yyyy_MM_dd HHmm
yyyy_MM_dd.HHmm
yyyy_MM_ddHHmm




yyyy-MM-dd_HH-mm
yyyy-MM-dd-HH-mm
yyyy-MM-dd HH-mm
yyyy-MM-dd.HH-mm
yyyy-MM-dd.HH-mm
yyyy-MM-ddHH-mm

yyyy-MM-dd_HH.mm
yyyy-MM-dd-HH.mm
yyyy-MM-dd HH.mm
yyyy-MM-dd.HH.mm
yyyy-MM-ddHH.mm

yyyy-MM-dd_HH mm
yyyy-MM-dd-HH mm
yyyy-MM-dd HH mm
yyyy-MM-dd.HH mm
yyyy-MM-ddHH mm

yyyy-MM-dd_HHmm
yyyy-MM-dd-HHmm
yyyy-MM-dd HHmm
yyyy-MM-dd.HHmm
yyyy-MM-ddHHmm




yyyy MM dd_HH-mm
yyyy MM dd-HH-mm
yyyy MM dd HH-mm
yyyy MM dd.HH-mm
yyyy MM ddHH-mm

yyyy MM dd_HH.mm
yyyy MM dd-HH.mm
yyyy MM dd HH.mm
yyyy MM dd.HH.mm
yyyy MM ddHH.mm

yyyy MM dd_HH mm
yyyy MM dd-HH mm
yyyy MM dd HH mm
yyyy MM dd.HH mm
yyyy MM ddHH mm

yyyy MM dd_HHmm
yyyy MM dd-HHmm
yyyy MM dd HHmm
yyyy MM dd.HHmm
yyyy MM ddHHmm




yyyy.MM.dd_HH-mm
yyyy.MM.dd-HH-mm
yyyy.MM.dd HH-mm
yyyy.MM.dd.HH-mm
yyyy.MM.ddHH-mm

yyyy.MM.dd_HH.mm
yyyy.MM.dd-HH.mm
yyyy.MM.dd HH.mm
yyyy.MM.dd.HH.mm
yyyy.MM.ddHH.mm

yyyy.MM.dd_HH mm
yyyy.MM.dd-HH mm
yyyy.MM.dd HH mm
yyyy.MM.dd.HH mm
yyyy.MM.ddHH mm

yyyy.MM.dd_HHmm
yyyy.MM.dd-HHmm
yyyy.MM.dd HHmm
yyyy.MM.dd.HHmm
yyyy.MM.ddHHmm




yyyyMMdd_HH-mm
yyyyMMdd-HH-mm
yyyyMMdd HH-mm
yyyyMMdd.HH-mm
yyyyMMddHH-mm

yyyyMMdd_HH.mm
yyyyMMdd-HH.mm
yyyyMMdd HH.mm
yyyyMMdd.HH.mm
yyyyMMddHH.mm

yyyyMMdd_HH mm
yyyyMMdd-HH mm
yyyyMMdd HH mm
yyyyMMdd.HH mm
yyyyMMddHH mm

yyyyMMdd_HHmm
yyyyMMdd-HHmm
yyyyMMdd HHmm
yyyyMMdd.HHmm
yyyyMMddHHmm



yyyy_MM_dd
yyyy-MM-dd
yyyy MM dd
yyyy.MM.dd
yyyyMMdd

</value>
      </setting>
      <setting name="AutoCorrect" serializeAs="String">
        <value />
      </setting>
      <setting name="WriteMetadataTags" serializeAs="String">
        <value>-charset
filename=UTF8
-charset
exif=UTF8
-charset
iptc=UTF8
-charset
id3=UTF8
-charset
photoshop=UTF8
-charset
quicktime=UTF8
-charset
riff=UTF8
-codedcharacterset=utf8
-overwrite_original
-m
-F
-XMP-exif:GPSDateTime={LocationDateTimeUTC}
-XMP:GPSDateTime={LocationDateTimeUTC}
-GPS:GPSDateStamp={LocationDateTimeDateStamp}
-GPS:GPSTimeStamp={LocationDateTimeTimeStamp}
-GPSDateStamp={LocationDateTimeDateStamp}
-GPSTimeStamp={LocationDateTimeTimeStamp}
-Composite:SubSecCreateDate={MediaDateTaken}
-EXIF:CreateDate={MediaDateTaken}
-XMP-xmp:CreateDate={MediaDateTaken}
-XMP:CreateDate={MediaDateTaken}
-XMP:DateTimeOriginal={MediaDateTaken}
-IPTC:DigitalCreationDate={MediaDateTakenDateStamp}
-IPTC:DigitalCreationTime={MediaDateTakenTimeStamp}
-Composite:SubSecDateTimeOriginal={MediaDateTaken}
-ExifIFD:DateTimeOriginal={MediaDateTaken}
-EXIF:DateTimeOriginal={MediaDateTaken}
-XMP-photoshop:DateCreated={MediaDateTaken}
-IPTC:DateCreated={MediaDateTakenDateStamp}
-IPTC:TimeCreated={MediaDateTakenTimeStamp}
-CreateDate={MediaDateTaken}
-XMP-xmpDM:Album={PersonalAlbum}
-XMP:Album={PersonalAlbum}
-IPTC:Headline={PersonalAlbum}
-XMP-photoshop:Headline={PersonalAlbum}
-ItemList:Album={PersonalAlbum}
-EXIF:Artist={PersonalAuthor}
-IPTC:By-line={PersonalAuthor}
-EXIF:XPAuthor={PersonalAuthor}
-ItemList:Author={PersonalAuthor}
-Creator={PersonalAuthor}
-File:Comment={PersonalComments}
-ExifIFD:UserComment={PersonalComments}
-EXIF:UserComment={PersonalComments}
-EXIF:XPComment={PersonalComments}
-XMP-album:Notes={PersonalComments}
-XMP-acdsee:Notes={PersonalComments}
-XMP:UserComment={PersonalComments}
-XMP:Notes={PersonalComments}
-ItemList:Comment={PersonalComments}
-EXIF:ImageDescription={PersonalDescription}
-XMP:ImageDescription={PersonalDescription}
-XMP-dc:Description={PersonalDescription}
-XMP:Description={PersonalDescription}
-IPTC:Caption-Abstract={PersonalDescription}
-ItemList:Description={PersonalDescription}
-Description={PersonalDescription}
-XMP-microsoft:RatingPercent={PersonalRatingPercent}
-XMP:RatingPercent={PersonalRatingPercent}
-EXIF:RatingPercent={PersonalRatingPercent}
-XMP-xmp:Rating={PersonalRating}
-XMP:Rating={PersonalRating}
-XMP-acdsee:Rating={PersonalRating}
-EXIF:Rating={PersonalRating}
-Rating={PersonalRating}
-ItemList:Title={PersonalTitle}
-EXIF:XPTitle={PersonalTitle}
-XMP-dc:Title={PersonalTitle}
-XMP:Title={PersonalTitle}
-ItemList:Title={PersonalTitle}
-UserData:GPSCoordinates=
-EXIF:GPSLatitude={LocationLatitude}
-XMP-exif:GPSLatitude={LocationLatitude}
-XMP:GPSLatitude={LocationLatitude}
-GPS:GPSLatitude={LocationLatitude}
-GPSLatitude={LocationLatitude}
-EXIF:GPSLongitude={LocationLongitude}
-XMP-exif:GPSLongitude={LocationLongitude}
-XMP:GPSLongitude={LocationLongitude}
-GPS:GPSLongitude={LocationLongitude}
-GPSLongitude={LocationLongitude}
-XMP:Location={LocationName}
-XMP-iptcCore:Location={LocationName}
-XMP-iptcExt:LocationShownSublocation={LocationName}
-XMP:LocationCreatedSublocation={LocationName}
-IPTC:Sub-location={LocationName}
-Sub-location={LocationName}
-Location={LocationName}
-XMP-iptcExt:LocationShownProvinceState={LocationState}
-XMP-photoshop:State={LocationState}
-IPTC:Province-State={LocationState}
-XMP:State={LocationState}
-State={LocationState}
-XMP-photoshop:City={LocationCity}
-XMP-iptcExt:LocationShownCity={LocationCity}
-IPTC:City={LocationCity}
-XMP:City={LocationCity}
-City={LocationCity}
-IPTC:Country-PrimaryLocationName={LocationCountry}
-XMP-photoshop:Country={LocationCountry}
-XMP-iptcExt:LocationShownCountryName={LocationCountry}
-XMP:Country={LocationCountry}
-Country={LocationCountry}
-ImageRegion=
-RegionInfoMP={PersonalRegionInfoMP}
-RegionInfo={PersonalRegionInfo}
-Keyword=
-Category=
-HierarchicalKeywords=
-HierarchicalSubject=
-LastKeywordXMP=
-LastKeywordIPTC=
-XMP:XMP-microsoft:LastKeywordXMP=
-XMP:XMP-microsoft:LastKeywordIPTC=
-XMP:XMP-digiKam:TagsList=
-IPTC:CatalogSets=
-IPTC:Keywords=
-XMP:XMP-dc:Subject=
{PersonalKeywordItemsAdd}
-Categories={PersonalKeywordsXML}
-XPKeywords={PersonalKeywordsList}
{IfFilePathChanged}-Filename={FileFullPath}
{OriginalFileFullPath}
-execute
</value>
      </setting>
      <setting name="WriteMetadataKeywordAdd" serializeAs="String">
        <value>-Keywords={KeywordItem}
-Subject={KeywordItem}
-TagsList={KeywordItem}
-CatalogSets={KeywordItem}</value>
      </setting>
      <setting name="ApplicationThumbnail" serializeAs="String">
        <value>192, 192</value>
      </setting>
      <setting name="ThumbmailViewSizeIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ApplicationPreferredLanguages" serializeAs="String">
        <value>en;q=0.5,no;q=0.3,ru;q=0.2,*;q=0.1</value>
      </setting>
      <setting name="XtraAtomKeywordsVariable" serializeAs="String">
        <value>{PersonalKeywordsList}</value>
      </setting>
      <setting name="XtraAtomKeywordsVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomCategoriesVariable" serializeAs="String">
        <value>{PersonalKeywordsList}</value>
      </setting>
      <setting name="XtraAtomCategoriesVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomAlbumVariable" serializeAs="String">
        <value>{PersonalAlbum}</value>
      </setting>
      <setting name="XtraAtomAlbumVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomSubtitleVariable" serializeAs="String">
        <value>{PersonalDescription}</value>
      </setting>
      <setting name="XtraAtomSubtitleVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomSubtitlePicture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomSubjectVariable" serializeAs="String">
        <value>{PersonalDescription}</value>
      </setting>
      <setting name="XtraAtomSubjectVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomSubjectPicture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomCommentVariable" serializeAs="String">
        <value>{PersonalComments}</value>
      </setting>
      <setting name="XtraAtomCommentVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomCommentPicture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomRatingVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomRatingPicture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomArtistVariable" serializeAs="String">
        <value>{PersonalAuthor}</value>
      </setting>
      <setting name="XtraAtomArtistVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchImageCommand" serializeAs="String">
        <value>exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"</value>
      </setting>
      <setting name="RunBatchImageWaitForCommand" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchImageAppId" serializeAs="String">
        <value>Microsoft.Windows.Photos_8wekyb3d8bbwe!App</value>
      </setting>
      <setting name="RunBatchImageAppIdList" serializeAs="String">
        <value>Microsoft.Windows.Photos_8wekyb3d8bbwe!App
Microsoft.ScreenSketch_8wekyb3d8bbwe!App
Microsoft.MSPaint_8wekyb3d8bbwe!Microsoft.MSPaint</value>
      </setting>
      <setting name="RunBatchImageVerb" serializeAs="String">
        <value>open</value>
      </setting>
      <setting name="RunBatchImageVerbList" serializeAs="String">
        <value>open
edit</value>
      </setting>
      <setting name="RunBatchImageWaitForApp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchVideoCommand" serializeAs="String">
        <value>exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"</value>
      </setting>
      <setting name="RunBatchVideoCommandList" serializeAs="String">
        <value>exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
ffmpeg -i "{OriginalFileFullPath}" "{OriginalFileDirectory}\{OriginalFileNameWithoutExtension}.mp4"
"C:\Program files\Exiftool\exiftool" -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
cmd.exe /K exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"       
cmd.exe /K /C exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
explorer ms-photos?filename="{FileFullPath}"</value>
      </setting>
      <setting name="RunBatchVideoWaitForCommand" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchVideoAppId" serializeAs="String">
        <value>Microsoft.Windows.Photos_8wekyb3d8bbwe!App</value>
      </setting>
      <setting name="RunBatchVideoAppIdList" serializeAs="String">
        <value>Microsoft.Windows.Photos_8wekyb3d8bbwe!App</value>
      </setting>
      <setting name="RunBatchVideoWaitForApp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchVideoVerb" serializeAs="String">
        <value>open</value>
      </setting>
      <setting name="RunBatchVideoVerbList" serializeAs="String">
        <value>open
edit</value>
      </setting>
      <setting name="OpenWithImageProgId" serializeAs="String">
        <value>AppX43hnxtbyyps62jhe9sqpdzxn1790zetc</value>
      </setting>
      <setting name="OpenWithImageVerb" serializeAs="String">
        <value>open</value>
      </setting>
      <setting name="OpenWithImageWaitForExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenWithVideoProgId" serializeAs="String">
        <value>AppX43hnxtbyyps62jhe9sqpdzxn1790zetc</value>
      </setting>
      <setting name="OpenWithVideoVerb" serializeAs="String">
        <value>open</value>
      </setting>
      <setting name="OpenWithVideoWaitForExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunArgumentCommandList" serializeAs="String">
        <value />
      </setting>
      <setting name="RunArgumentCommand" serializeAs="String">
        <value>cmd /K exiftool -charset utf8 -charset iptc=utf8 -codedcharacterset=utf8 -m -@ "{TempFileArgumentFullPath}"</value>
      </setting>
      <setting name="MaxRowsInSearchResult" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RunArgumentBuildCommandList" serializeAs="String">
        <value />
      </setting>
      <setting name="RunArgumentBuildCommand" serializeAs="String">
        <value>cmd /K exiftool -charset utf8 -charset iptc=utf8 -codedcharacterset=utf8 -m -@ "{TempFileArgumentFullPath}"</value>
      </setting>
      <setting name="RunArgumentBuildKeywordAdd" serializeAs="String">
        <value>-Keywords={KeywordItem}
-Subject={KeywordItem}
-TagsList={KeywordItem}
-CatalogSets={KeywordItem}</value>
      </setting>
      <setting name="RunArgumentBuildKeywordTags" serializeAs="String">
        <value>-charset
filename=UTF8
-charset
exif=UTF8
-charset
iptc=UTF8
-charset
id3=UTF8
-charset
photoshop=UTF8
-charset
quicktime=UTF8
-charset
riff=UTF8
-codedcharacterset=utf8
-overwrite_original
-m
-F
-XMP-exif:GPSDateTime={LocationDateTimeUTC}
-XMP:GPSDateTime={LocationDateTimeUTC}
-GPS:GPSDateStamp={LocationDateTimeDateStamp}
-GPS:GPSTimeStamp={LocationDateTimeTimeStamp}
-GPSDateStamp={LocationDateTimeDateStamp}
-GPSTimeStamp={LocationDateTimeTimeStamp}
-Composite:SubSecCreateDate={MediaDateTaken}
-EXIF:CreateDate={MediaDateTaken}
-XMP-xmp:CreateDate={MediaDateTaken}
-XMP:CreateDate={MediaDateTaken}
-XMP:DateTimeOriginal={MediaDateTaken}
-IPTC:DigitalCreationDate={MediaDateTakenDateStamp}
-IPTC:DigitalCreationTime={MediaDateTakenTimeStamp}
-Composite:SubSecDateTimeOriginal={MediaDateTaken}
-ExifIFD:DateTimeOriginal={MediaDateTaken}
-EXIF:DateTimeOriginal={MediaDateTaken}
-XMP-photoshop:DateCreated={MediaDateTaken}
-IPTC:DateCreated={MediaDateTakenDateStamp}
-IPTC:TimeCreated={MediaDateTakenTimeStamp}
-CreateDate={MediaDateTaken}
-XMP-xmpDM:Album={PersonalAlbum}
-XMP:Album={PersonalAlbum}
-IPTC:Headline={PersonalAlbum}
-XMP-photoshop:Headline={PersonalAlbum}
-ItemList:Album={PersonalAlbum}
-EXIF:Artist={PersonalAuthor}
-IPTC:By-line={PersonalAuthor}
-EXIF:XPAuthor={PersonalAuthor}
-ItemList:Author={PersonalAuthor}
-Creator={PersonalAuthor}
-File:Comment={PersonalComments}
-ExifIFD:UserComment={PersonalComments}
-EXIF:UserComment={PersonalComments}
-EXIF:XPComment={PersonalComments}
-XMP-album:Notes={PersonalComments}
-XMP-acdsee:Notes={PersonalComments}
-XMP:UserComment={PersonalComments}
-XMP:Notes={PersonalComments}
-ItemList:Comment={PersonalComments}
-EXIF:ImageDescription={PersonalDescription}
-XMP:ImageDescription={PersonalDescription}
-XMP-dc:Description={PersonalDescription}
-XMP:Description={PersonalDescription}
-IPTC:Caption-Abstract={PersonalDescription}
-ItemList:Description={PersonalDescription}
-Description={PersonalDescription}
-XMP-microsoft:RatingPercent={PersonalRatingPercent}
-XMP:RatingPercent={PersonalRatingPercent}
-EXIF:RatingPercent={PersonalRatingPercent}
-XMP-xmp:Rating={PersonalRating}
-XMP:Rating={PersonalRating}
-XMP-acdsee:Rating={PersonalRating}
-EXIF:Rating={PersonalRating}
-Rating={PersonalRating}
-ItemList:Title={PersonalTitle}
-EXIF:XPTitle={PersonalTitle}
-XMP-dc:Title={PersonalTitle}
-XMP:Title={PersonalTitle}
-ItemList:Title={PersonalTitle}
-UserData:GPSCoordinates=
-EXIF:GPSLatitude={LocationLatitude}
-XMP-exif:GPSLatitude={LocationLatitude}
-XMP:GPSLatitude={LocationLatitude}
-GPS:GPSLatitude={LocationLatitude}
-GPSLatitude={LocationLatitude}
-EXIF:GPSLongitude={LocationLongitude}
-XMP-exif:GPSLongitude={LocationLongitude}
-XMP:GPSLongitude={LocationLongitude}
-GPS:GPSLongitude={LocationLongitude}
-GPSLongitude={LocationLongitude}
-XMP:Location={LocationName}
-XMP-iptcCore:Location={LocationName}
-XMP-iptcExt:LocationShownSublocation={LocationName}
-XMP:LocationCreatedSublocation={LocationName}
-IPTC:Sub-location={LocationName}
-Sub-location={LocationName}
-Location={LocationName}
-XMP-iptcExt:LocationShownProvinceState={LocationState}
-XMP-photoshop:State={LocationState}
-IPTC:Province-State={LocationState}
-XMP:State={LocationState}
-State={LocationState}
-XMP-photoshop:City={LocationCity}
-XMP-iptcExt:LocationShownCity={LocationCity}
-IPTC:City={LocationCity}
-XMP:City={LocationCity}
-City={LocationCity}
-IPTC:Country-PrimaryLocationName={LocationCountry}
-XMP-photoshop:Country={LocationCountry}
-XMP-iptcExt:LocationShownCountryName={LocationCountry}
-XMP:Country={LocationCountry}
-Country={LocationCountry}
-ImageRegion=
-RegionInfoMP={PersonalRegionInfoMP}
-RegionInfo={PersonalRegionInfo}
-Keyword=
-Category=
-HierarchicalKeywords=
-HierarchicalSubject=
-LastKeywordXMP=
-LastKeywordIPTC=
-XMP:XMP-microsoft:LastKeywordXMP=
-XMP:XMP-microsoft:LastKeywordIPTC=
-XMP:XMP-digiKam:TagsList=
-IPTC:CatalogSets=
-IPTC:Keywords=
-XMP:XMP-dc:Subject=
{PersonalKeywordItemsAdd}
-Categories={PersonalKeywordsXML}
-XPKeywords={PersonalKeywordsList}
{IfFilePathChanged}-Filename={FileFullPath}
{OriginalFileFullPath}
-execute</value>
      </setting>
      <setting name="SuggestRegionNameNearByCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SuggestRegionNameNearbyDays" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RegionMissmatchProcent" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="AvoidOfflineMediaFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImageViewLoadThumbnailOnDemandMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertAndMergeExecute" serializeAs="String">
        <value>ffmpeg.exe</value>
      </setting>
      <setting name="ConvertAndMergeConcatImagesArguments" serializeAs="String">
        <value>-y -i "{AudioFileFullPath}" -f concat -safe 0 -i "{ArgumentFileFullPath}" -c:v libx264 -bsf:v h264_mp4toannexb -f mpegts -movflags +faststart -b:a 384k -c:a aac -ac 2 -ar 48000 -pix_fmt yuv420p -profile:v baseline -vsync vfr -r 24 -maxrate 8M -bufsize 10M -vf "scale={ResolutionWidth}:{ResolutionHeight}:force_original_aspect_ratio=decrease,pad={ResolutionWidth}:{ResolutionHeight}:(ow-iw)/2:(oh-ih)/2" -shortest "{TempFileFullPath}"</value>
      </setting>
      <setting name="ConvertAndMergeConcatImagesArguFile" serializeAs="String">
        <value>file '{ImageFileFullPath}'
duration {Duration}</value>
      </setting>
      <setting name="ConvertAndMergeConcatVideosArguments" serializeAs="String">
        <value>-analyzeduration 2147483647 -probesize 2147483647 -y -f concat -safe 0 -i "{ArgumentFileFullPath}" -c:v copy "{TempFileFullPath}"</value>
      </setting>
      <setting name="ConvertAndMergeConcatVideosArguFile" serializeAs="String">
        <value>file '{VideoFileFullPath}'</value>
      </setting>
      <setting name="ConvertAndMergeMusic" serializeAs="String">
        <value>.\Resources\Silent.wav</value>
      </setting>
      <setting name="ConvertAndMergeImageDuration" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RunBatchInTerminalWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertAndMergeConvertVideosArguments" serializeAs="String">
        <value>-y -i "{VideoFileFullPath}" -c:v copy -c:v libx264 -bsf:v h264_mp4toannexb -f mpegts -movflags +faststart -b:a 384k -c:a aac -ac 2 -ar 48000 -pix_fmt yuv420p -profile:v baseline -vsync vfr -r 24 -maxrate 8M -bufsize 10M -vf "scale={ResolutionWidth}:{ResolutionHeight}:force_original_aspect_ratio=decrease,pad={ResolutionWidth}:{ResolutionHeight}:(ow-iw)/2:(oh-ih)/2" "{TempFileFullPath}"</value>
      </setting>
      <setting name="ConvertAndMergeOutputWidth" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="ConvertAndMergeOutputHeight" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="ConvertAndMergeOutputTempfileExtension" serializeAs="String">
        <value>.TS</value>
      </setting>
      <setting name="ChromecastImageOutputResolutionWidth" serializeAs="String">
        <value>1920</value>
      </setting>
      <setting name="ChromecastImageOutputResolutionHeight" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="ChromecastImageOutputFormat" serializeAs="String">
        <value>.JPG</value>
      </setting>
      <setting name="ChromecastVideoCodec" serializeAs="String">
        <value>vcodec=theo,venc=theora{quality=4},scale=1</value>
      </setting>
      <setting name="ChromecastAudioCodec" serializeAs="String">
        <value>acodec=vorb,channels=2,aenc=vorbis{quality=4}</value>
      </setting>
      <setting name="ChromecastAgruments" serializeAs="String">
        <value>sout=#transcode{{vcodec}{acodec}}:std{access=http,mux=ogg,url={url}}</value>
      </setting>
      <setting name="ChromecastUrl" serializeAs="String">
        <value>:{port}/output.ogg</value>
      </setting>
      <setting name="ChromecastTransporter" serializeAs="String">
        <value>VLC-Render</value>
      </setting>
      <setting name="SelectGroupSameLocationName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectGroupSameCity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectGroupSameDistrict" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectGroupSameCountry" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectGroupNumberOfDays" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SelectGroupMaxCount" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="WriteMetadataCreatedDateFileAttribute" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocationAccuracyLatitude" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="LocationAccuracyLongitude" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="SettingLocationZoomLevel" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="WebScraperScript" serializeAs="String">
        <value>//
// Please read.....
//
// If you not using English version of Google Photos, please rename the "div[aria-label^='Filename']" to your language in use...
//
//
//

(function()
{
    function isVisible(e) {
    return !!( e.offsetWidth || e.offsetHeight || e.getClientRects().length );
}

    var resultArray = new Array();
    
    var resultIndex = 0;
    
    //page href
    resultArray[resultIndex++] = ["url", String(window.location.href)];
    
    //document title
    resultArray[resultIndex++] = ["title", String(document.title)];
    
    //picture info screen
    var resultQuery = document.getElementsByClassName("Q77Pt eejsDc");
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        resultArray[resultIndex++] = ["picture info screen", String(resultQuery[i].style.display)];        
    }
        
    // Album (main)
    var resultQuery = document.querySelectorAll("textarea[class='ajQY2 v3oaBb']");
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i])) resultArray[resultIndex++] = ["album", String(resultQuery[i].textContent)];
    }
    
    // Album (sub)
    var resultQuery = document.querySelectorAll("div[class='AJM7gb']");
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i])) resultArray[resultIndex++] = ["album other", String(resultQuery[i].textContent)];
    }
    
    // Album link
    var resultQuery = document.querySelectorAll("a[href^='./album/']");
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i]) &amp;&amp; !(resultQuery[i].innerText === "")) 
        {
            var array = resultQuery[i].innerText.split(/\r?\n/); //Remove text about Number of Elements
            resultArray[resultIndex++] = ["album link", String(array[0]), String(resultQuery[i].href)];
        }
    }
    
    // Picture link
    var linkName    = "photo link";
    if (window.location.href == "https://photos.google.com/things") linkName = "tag link";
    if (window.location.href == "https://photos.google.com/places") linkName = "location link";
    if (window.location.href == "https://photos.google.com/albums") linkName = "album link";
    if (window.location.href == "https://photos.google.com/people") linkName = "people link";
    var resultQuery = document.querySelectorAll("a[class='p137Zd']");
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i])) 
            resultArray[resultIndex++] = [linkName, String(resultQuery[i].innerText), String(resultQuery[i].href)];
    }
    
    // Mediafile
    var resultQuery = document.querySelectorAll("div[aria-label^='Filename']"); //English
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i])) resultArray[resultIndex++] = ["mediafile", String(resultQuery[i].innerHTML)];
    }
    
    var resultQuery = document.querySelectorAll("div[aria-label^='Filnavn']"); //Norwegain
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i])) resultArray[resultIndex++] = ["mediafile", String(resultQuery[i].innerHTML)];
    }
    
    // Location name
    var resultQuery = document.querySelectorAll("div[class='qYQJEe']");
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i])) 
            resultArray[resultIndex++] = ["locationName", String(resultQuery[i].textContent)];
    }
    
    // Location name
    var resultQuery = document.querySelectorAll("div[class='R9U8ab']");
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i])) 
        resultArray[resultIndex++] = ["locationName", String(resultQuery[i].textContent)];
    }
    
    // Title
    var resultQuery = document.querySelectorAll("div[class='nxaUwb']");
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i]) &amp;&amp; !(resultQuery[i].textContent === "") ) resultArray[resultIndex++] = ["description", String(resultQuery[i].textContent)];
    }
    
    // Tags
    var resultQuery = document.querySelectorAll("div[class='CWzyGb']");
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        //if (isVisible(resultQuery[i])) resultArray[resultIndex++] = ["tag", String(resultQuery[i].ariaLabel)];
    }

    // People
    var resultQuery = document.querySelectorAll("span[class='Y8X4Pc']"); 
    for (var i = 0; i &lt; resultQuery.length; i++)
    {
        if (isVisible(resultQuery[i])) resultArray[resultIndex++] = ["people", String(resultQuery[i].innerHTML)];
    }

    
    return resultArray;
})();</value>
      </setting>
      <setting name="WebScrapingRetry" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="WebScrapingDelayOurScriptToRun" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="WebScrapingDelayInPageScriptToRun" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="WebScrapingPageDownCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WaitEventPageStartLoadingTimeout" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="WaitEventPageLoadedTimeout" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="JavaScriptExecuteTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="WebScraperStartPages" serializeAs="String">
        <value>https://photos.google.com/things
https://photos.google.com/places
https://photos.google.com/albums
https://photos.google.com/people</value>
      </setting>
      <setting name="CacheNumberOfPosters" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CacheAllMetadatas" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CacheAllThumbnails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CacheAllWebScraperDataSets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CacheFolderMetadatas" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CacheFolderThumbnails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CacheFolderWebScraperDataSets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationRegionThumbnail" serializeAs="String">
        <value>96, 96</value>
      </setting>
      <setting name="AvoidReadExifFromCloud" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WriteFileAttributeCreatedDateTimeIntervalAccepted"
        serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="AutoCorrectFormAlbum" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoCorrectFormAuthor" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoCorrectFormComments" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoCorrectFormDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoCorrectFormTitle" serializeAs="String">
        <value />
      </setting>
      <setting name="UseAutoCorrectFormAlbum" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAutoCorrectFormAuthor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAutoCorrectFormComments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAutoCorrectFormDescription" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAutoCorrectFormTitle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImageListViewSelectedColumns" serializeAs="String">
        <value>Name
Created
Type
Dimensions</value>
      </setting>
      <setting name="ImageListViewTitleLine1" serializeAs="String">
        <value>FileName</value>
      </setting>
      <setting name="ImageListViewTitleLine2" serializeAs="String">
        <value>FileDateCreated</value>
      </setting>
      <setting name="ImageListViewTitleLine3" serializeAs="String">
        <value>FileType</value>
      </setting>
      <setting name="ImageListViewTitleLine4" serializeAs="String">
        <value>FileSize</value>
      </setting>
      <setting name="ImageListViewTitleLine5" serializeAs="String">
        <value>MediaDimensions</value>
      </setting>
      <setting name="ApplicationDebugExiftoolReadShowCliWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationDebugExiftoolWriteShowCliWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationDebugExiftoolReadThreadPrioity" serializeAs="String">
        <value>16384</value>
      </setting>
      <setting name="ApplicationDebugExiftoolWriteThreadPrioity" serializeAs="String">
        <value>16384</value>
      </setting>
      <setting name="ApplicationDebugBackgroundThreadPrioity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WriteMetadataAddAutoKeywords" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationDarkMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationThemes" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkspaceCellFolderSearchFilterStarSize" serializeAs="String">
        <value>313*,50*</value>
      </setting>
      <setting name="WorkspaceCellMediaFilesStarSize" serializeAs="String">
        <value>367*,50*</value>
      </setting>
      <setting name="WorkspaceCellToolboxStarSize" serializeAs="String">
        <value>674*,50*</value>
      </setting>
      <setting name="WorkspaceCellToolboxMapBroswerStarSize" serializeAs="String">
        <value>50*,211*</value>
      </setting>
      <setting name="WorkspaceCellToolboxMapBroswerPropertiesStarSize"
        serializeAs="String">
        <value>50*,35</value>
      </setting>
      <setting name="WorkspaceCellToolboxMapDetailsStarSize" serializeAs="String">
        <value>50*,497*</value>
      </setting>
      <setting name="WorkspaceCellToolboxMapPropertiesStarSize" serializeAs="String">
        <value>50*,29</value>
      </setting>
      <setting name="WorkspaceCellToolboxRenameResultStarSize" serializeAs="String">
        <value>50*,650*</value>
      </setting>
      <setting name="WorkspaceCellToolboxRenameVariablesStarSize" serializeAs="String">
        <value>50*,132</value>
      </setting>
      <setting name="WorkspaceCellToolboxTagsDetailsStarSize" serializeAs="String">
        <value>50*,272*</value>
      </setting>
      <setting name="WorkspaceCellToolboxTagsKeywordsStarSize" serializeAs="String">
        <value>50*,510*</value>
      </setting>
      <setting name="ImageListViewRendererName" serializeAs="String">
        <value>RendererDefault</value>
      </setting>
      <setting name="ImageListViewViewMode" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CellSizeConvertAndMerge" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SelectGroupFileCreated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectGroupMediaTaken" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectGroupCheckAllDates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectGroupCheckAllLocations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewSlideshowInterval" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="KryptonPaletteDropShadow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KryptonPaletteFullFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="KryptonPaletteName" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkspaceToolboxTagsMaximizedCell" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkspaceMainMaximizedCell" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkspaceCellFolderSearchFilterNavigatorMode"
        serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="ApplicationSizeOfRegionNamesGroup" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RenameShowFullPath" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebScraperSearch" serializeAs="String">
        <value>Photos after {LastScan:yyyy-MM-dd}</value>
      </setting>
      <setting name="WebScraperSearchUrl" serializeAs="String">
        <value>https://photos.google.com/search/</value>
      </setting>
      <setting name="WebScraperSearchLastScan" serializeAs="String">
        <value>1900-01-01</value>
      </setting>
      <setting name="SlashScreenTipNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LocationAnalyticsZoomLevel" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="LocationAnalyticsMinimumTimeInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LocationAnalyticsMinimumDistance" serializeAs="String">
        <value>0.0005</value>
      </setting>
      <setting name="ColumnNameAndWithsImageListView" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnNameAndWithsRenameLarge" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnNameAndWithsRenameMedium" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnNameAndWithsRenameSmall" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnNameAndWithsConvertAndMergeLarge" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnNameAndWithsConvertAndMergeMedium" serializeAs="String">
        <value />
      </setting>
      <setting name="ColumnNameAndWithsConvertAndMergeSmall" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageListViewSortingColumn" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImageListViewSortingOrder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SuggestRegionNameNearByContextMenuCount" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="SuggestRegionNameMostUsedContextMenuCount" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="XtraAtomWriteOnFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomKeywordsPicture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExiftoolMaximumWriteBach" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PeopleRename" serializeAs="String">
        <value>Unknown 1
Unknown 2
Unknown 3
Unknown 4
Unknown 5
</value>
      </setting>
      <setting name="WriteUsingCompatibilityCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteAutoKeywordsSynonyms" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MicosoftOneDriveLocationHackUse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MicosoftOneDriveLocationHackPostfix" serializeAs="String">
        <value>-GPS-</value>
      </setting>
      <setting name="MoveToRecycleBin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OneDriveDuplicatesNetworkNames" serializeAs="String">
        <value />
      </setting>
      <setting name="WebScraperSearchTagUrlPrefix" serializeAs="String">
        <value>https://photos.google.com/search/</value>
      </setting>
      <setting name="ToolsLastImageListViewWildcardsSelectMatch" serializeAs="String">
        <value>*.wmv</value>
      </setting>
      <setting name="RunBatchImageCommandList" serializeAs="String">
        <value>exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
magick.exe convert "{OriginalFileFullPath}" -strip "{OriginalFileDirectory}\{OriginalFileNameWithoutExtension}.jpg"
"C:\Program files\Exiftool\exiftool" -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
cmd.exe /K exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
cmd.exe /K /C exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
explorer ms-photos?filename="{FileFullPath}"</value>
      </setting>
      <setting name="ShowAboutPage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowDatabaseNotFoundWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BrowserSettingsUserAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:90.0) Gecko/20100101 Firefox/90.0</value>
      </setting>
      <setting name="BrowserSettingsJavaScript" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BrowserSettingsWebGL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BrowserSettingsDisableGPU" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BrowserSettingsEnableMediaStream" serializeAs="String">
        <value>True</value>
      </setting>
    </PhotoTagsSynchronizer.Properties.Settings>
    <Properties.Settings>
      <setting name="LastFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>1173, 778</value>
      </setting>
      <setting name="SplitContainerFolder" serializeAs="String">
        <value>283</value>
      </setting>
      <setting name="SplitContainerImages" serializeAs="String">
        <value>549</value>
      </setting>
      <setting name="SplitContainerMain" serializeAs="String">
        <value>514</value>
      </setting>
      <setting name="SplitContainerMap" serializeAs="String">
        <value>277</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="LastGoogleLocationFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="LocationUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="IsMainFormMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ComboBoxGoogleTimeZoneShift" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ComboBoxGoogleLocationInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ComboBoxMapZoomLevel" serializeAs="String">
        <value>13</value>
      </setting>
    </Properties.Settings>
    
    
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    </assemblyBinding>
  </runtime>


</configuration>
