<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="PhotoTagsSynchronizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ImageListViewDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <userSettings>
    <PhotoTagsSynchronizer.Properties.Settings>
      <setting name="LastFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>1173, 778</value>
      </setting>
      <setting name="SplitContainerFolder" serializeAs="String">
        <value>283</value>
      </setting>
      <setting name="SplitContainerImages" serializeAs="String">
        <value>549</value>
      </setting>
      <setting name="SplitContainerMain" serializeAs="String">
        <value>514</value>
      </setting>
      <setting name="SplitContainerMap" serializeAs="String">
        <value>277</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="LastGoogleLocationFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationUser" serializeAs="String">
        <value />
      </setting>
      <setting name="IsMainFormMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ComboBoxGoogleTimeZoneShift" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ComboBoxGoogleLocationInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ComboBoxMapZoomLevel" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="RenderertoolStripComboBox" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CloseWarningWindowsAutomatically" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MediaAiConfidence" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeKeywords" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizePeoples" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeMap" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeDates" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeExiftool" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeWarnings" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CellSizeProperties" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ShowHistortyColumns" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowErrorColumns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CellSizeRename" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RenameVariable" serializeAs="String">
        <value>%Trim%%MediaFileNow_DateTime% %FileNameWithoutDateTime%%Extension%</value>
      </setting>
      <setting name="RenameDateFormats" serializeAs="String">
        <value>yyyy_MM_dd_HH_mm_ss
yyyy_MM_dd-HH_mm_ss
yyyy_MM_dd HH_mm_ss
yyyy_MM_dd.HH_mm_ss
yyyy_MM_ddHH_mm_ss

yyyy_MM_dd_HH.mm.ss
yyyy_MM_dd-HH.mm.ss
yyyy_MM_dd HH.mm.ss
yyyy_MM_dd.HH.mm.ss
yyyy_MM_ddHH.mm.ss

yyyy_MM_dd_HH mm ss
yyyy_MM_dd-HH mm ss
yyyy_MM_dd HH mm ss
yyyy_MM_dd.HH mm ss
yyyy_MM_ddHH mm ss

yyyy_MM_dd_HHmmss
yyyy_MM_dd-HHmmss
yyyy_MM_dd HHmmss
yyyy_MM_dd.HHmmss
yyyy_MM_ddHHmmss




yyyy-MM-dd_HH-mm-ss
yyyy-MM-dd-HH-mm-ss
yyyy-MM-dd HH-mm-ss
yyyy-MM-dd.HH-mm-ss
yyyy-MM-dd.HH-mm-ss
yyyy-MM-ddHH-mm-ss

yyyy-MM-dd_HH.mm.ss
yyyy-MM-dd-HH.mm.ss
yyyy-MM-dd HH.mm.ss
yyyy-MM-dd.HH.mm.ss
yyyy-MM-ddHH.mm.ss

yyyy-MM-dd_HH mm ss
yyyy-MM-dd-HH mm ss
yyyy-MM-dd HH mm ss
yyyy-MM-dd.HH mm ss
yyyy-MM-ddHH mm ss

yyyy-MM-dd_HHmmss
yyyy-MM-dd-HHmmss
yyyy-MM-dd HHmmss
yyyy-MM-dd.HHmmss
yyyy-MM-ddHHmmss




yyyy MM dd_HH-mm-ss
yyyy MM dd-HH-mm-ss
yyyy MM dd HH-mm-ss
yyyy MM dd.HH-mm-ss
yyyy MM ddHH-mm-ss

yyyy MM dd_HH.mm.ss
yyyy MM dd-HH.mm.ss
yyyy MM dd HH.mm.ss
yyyy MM dd.HH.mm.ss
yyyy MM ddHH.mm.ss

yyyy MM dd_HH mm ss
yyyy MM dd-HH mm ss
yyyy MM dd HH mm ss
yyyy MM dd.HH mm ss
yyyy MM ddHH mm ss

yyyy MM dd_HHmmss
yyyy MM dd-HHmmss
yyyy MM dd HHmmss
yyyy MM dd.HHmmss
yyyy MM ddHHmmss




yyyy.MM.dd_HH-mm-ss
yyyy.MM.dd-HH-mm-ss
yyyy.MM.dd HH-mm-ss
yyyy.MM.dd.HH-mm-ss
yyyy.MM.ddHH-mm-ss

yyyy.MM.dd_HH.mm.ss
yyyy.MM.dd-HH.mm.ss
yyyy.MM.dd HH.mm.ss
yyyy.MM.dd.HH.mm.ss
yyyy.MM.ddHH.mm.ss

yyyy.MM.dd_HH mm ss
yyyy.MM.dd-HH mm ss
yyyy.MM.dd HH mm ss
yyyy.MM.dd.HH mm ss
yyyy.MM.ddHH mm ss

yyyy.MM.dd_HHmmss
yyyy.MM.dd-HHmmss
yyyy.MM.dd HHmmss
yyyy.MM.dd.HHmmss
yyyy.MM.ddHHmmss




yyyyMMdd_HH-mm-ss
yyyyMMdd-HH-mm-ss
yyyyMMdd HH-mm-ss
yyyyMMdd.HH-mm-ss
yyyyMMddHH-mm-ss

yyyyMMdd_HH.mm.ss
yyyyMMdd-HH.mm.ss
yyyyMMdd HH.mm.ss
yyyyMMdd.HH.mm.ss
yyyyMMddHH.mm.ss

yyyyMMdd_HH mm ss
yyyyMMdd-HH mm ss
yyyyMMdd HH mm ss
yyyyMMdd.HH mm ss
yyyyMMddHH mm ss

yyyyMMdd_HHmmss
yyyyMMdd-HHmmss
yyyyMMdd HHmmss
yyyyMMdd.HHmmss
yyyyMMddHHmmss







yyyy_MM_dd_HH_mm
yyyy_MM_dd-HH_mm
yyyy_MM_dd HH_mm
yyyy_MM_dd.HH_mm
yyyy_MM_ddHH_mm

yyyy_MM_dd_HH.mm
yyyy_MM_dd-HH.mm
yyyy_MM_dd HH.mm
yyyy_MM_dd.HH.mm
yyyy_MM_ddHH.mm

yyyy_MM_dd_HH mm
yyyy_MM_dd-HH mm
yyyy_MM_dd HH mm
yyyy_MM_dd.HH mm
yyyy_MM_ddHH mm

yyyy_MM_dd_HHmm
yyyy_MM_dd-HHmm
yyyy_MM_dd HHmm
yyyy_MM_dd.HHmm
yyyy_MM_ddHHmm




yyyy-MM-dd_HH-mm
yyyy-MM-dd-HH-mm
yyyy-MM-dd HH-mm
yyyy-MM-dd.HH-mm
yyyy-MM-dd.HH-mm
yyyy-MM-ddHH-mm

yyyy-MM-dd_HH.mm
yyyy-MM-dd-HH.mm
yyyy-MM-dd HH.mm
yyyy-MM-dd.HH.mm
yyyy-MM-ddHH.mm

yyyy-MM-dd_HH mm
yyyy-MM-dd-HH mm
yyyy-MM-dd HH mm
yyyy-MM-dd.HH mm
yyyy-MM-ddHH mm

yyyy-MM-dd_HHmm
yyyy-MM-dd-HHmm
yyyy-MM-dd HHmm
yyyy-MM-dd.HHmm
yyyy-MM-ddHHmm




yyyy MM dd_HH-mm
yyyy MM dd-HH-mm
yyyy MM dd HH-mm
yyyy MM dd.HH-mm
yyyy MM ddHH-mm

yyyy MM dd_HH.mm
yyyy MM dd-HH.mm
yyyy MM dd HH.mm
yyyy MM dd.HH.mm
yyyy MM ddHH.mm

yyyy MM dd_HH mm
yyyy MM dd-HH mm
yyyy MM dd HH mm
yyyy MM dd.HH mm
yyyy MM ddHH mm

yyyy MM dd_HHmm
yyyy MM dd-HHmm
yyyy MM dd HHmm
yyyy MM dd.HHmm
yyyy MM ddHHmm




yyyy.MM.dd_HH-mm
yyyy.MM.dd-HH-mm
yyyy.MM.dd HH-mm
yyyy.MM.dd.HH-mm
yyyy.MM.ddHH-mm

yyyy.MM.dd_HH.mm
yyyy.MM.dd-HH.mm
yyyy.MM.dd HH.mm
yyyy.MM.dd.HH.mm
yyyy.MM.ddHH.mm

yyyy.MM.dd_HH mm
yyyy.MM.dd-HH mm
yyyy.MM.dd HH mm
yyyy.MM.dd.HH mm
yyyy.MM.ddHH mm

yyyy.MM.dd_HHmm
yyyy.MM.dd-HHmm
yyyy.MM.dd HHmm
yyyy.MM.dd.HHmm
yyyy.MM.ddHHmm




yyyyMMdd_HH-mm
yyyyMMdd-HH-mm
yyyyMMdd HH-mm
yyyyMMdd.HH-mm
yyyyMMddHH-mm

yyyyMMdd_HH.mm
yyyyMMdd-HH.mm
yyyyMMdd HH.mm
yyyyMMdd.HH.mm
yyyyMMddHH.mm

yyyyMMdd_HH mm
yyyyMMdd-HH mm
yyyyMMdd HH mm
yyyyMMdd.HH mm
yyyyMMddHH mm

yyyyMMdd_HHmm
yyyyMMdd-HHmm
yyyyMMdd HHmm
yyyyMMdd.HHmm
yyyyMMddHHmm



yyyy_MM_dd
yyyy-MM-dd
yyyy MM dd
yyyy.MM.dd
yyyyMMdd

</value>
      </setting>
      <setting name="AutoCorrect" serializeAs="String">
        <value />
      </setting>
      <setting name="WriteMetadataTags" serializeAs="String">
        <value>-charset
filename=UTF8
-overwrite_original
-m
-F
{IfLocationDateTimeChanged}-XMP-exif:GPSDateTime={LocationDateTimeUTC}
{IfLocationDateTimeChanged}-XMP:GPSDateTime={LocationDateTimeUTC}
{IfLocationDateTimeChanged}-GPS:GPSDateStamp={LocationDateTimeDateStamp}
{IfLocationDateTimeChanged}-GPS:GPSTimeStamp={LocationDateTimeTimeStamp}
{IfLocationDateTimeChanged}-GPSDateStamp={LocationDateTimeDateStamp}
{IfLocationDateTimeChanged}-GPSTimeStamp={LocationDateTimeTimeStamp}
{IfMediaDateTakenChanged}-Composite:SubSecCreateDate={MediaDateTaken}
{IfMediaDateTakenChanged}-EXIF:CreateDate={MediaDateTaken}
{IfMediaDateTakenChanged}-XMP-xmp:CreateDate={MediaDateTaken}
{IfMediaDateTakenChanged}-XMP:CreateDate={MediaDateTaken}
{IfMediaDateTakenChanged}-XMP:DateTimeOriginal={MediaDateTaken}
{IfMediaDateTakenChanged}-IPTC:DigitalCreationDate={MediaDateTakenDateStamp}
{IfMediaDateTakenChanged}-IPTC:DigitalCreationTime={MediaDateTakenTimeStamp}
{IfMediaDateTakenChanged}-Composite:SubSecDateTimeOriginal={MediaDateTaken}
{IfMediaDateTakenChanged}-ExifIFD:DateTimeOriginal={MediaDateTaken}
{IfMediaDateTakenChanged}-EXIF:DateTimeOriginal={MediaDateTaken}
{IfMediaDateTakenChanged}-XMP-photoshop:DateCreated={MediaDateTaken}
{IfMediaDateTakenChanged}-IPTC:DateCreated={MediaDateTakenDateStamp}
{IfMediaDateTakenChanged}-IPTC:TimeCreated={MediaDateTakenTimeStamp}
{IfMediaDateTakenChanged}-CreateDate={MediaDateTaken}
{IfPersonalAlbumChanged}-XMP-xmpDM:Album={PersonalAlbum}
{IfPersonalAlbumChanged}-XMP:Album={PersonalAlbum}
{IfPersonalAlbumChanged}-IPTC:Headline={PersonalAlbum}
{IfPersonalAlbumChanged}-XMP-photoshop:Headline={PersonalAlbum}
{IfPersonalAlbumChanged}-ItemList:Album={PersonalAlbum}
{IfPersonalAuthorChanged}-EXIF:Artist={PersonalAuthor}
{IfPersonalAuthorChanged}-IPTC:By-line={PersonalAuthor}
{IfPersonalAuthorChanged}-EXIF:XPAuthor={PersonalAuthor}
{IfPersonalAuthorChanged}-ItemList:Author={PersonalAuthor}
{IfPersonalAuthorChanged}-Creator={PersonalAuthor}
{IfPersonalCommentsChanged}-File:Comment={PersonalComments}
{IfPersonalCommentsChanged}-ExifIFD:UserComment={PersonalComments}
{IfPersonalCommentsChanged}-EXIF:UserComment={PersonalComments}
{IfPersonalCommentsChanged}-EXIF:XPComment={PersonalComments}
{IfPersonalCommentsChanged}-XMP-album:Notes={PersonalComments}
{IfPersonalCommentsChanged}-XMP-acdsee:Notes={PersonalComments}
{IfPersonalCommentsChanged}-XMP:UserComment={PersonalComments}
{IfPersonalCommentsChanged}-XMP:Notes={PersonalComments}
{IfPersonalCommentsChanged}-ItemList:Comment={PersonalComments}
{IfPersonalDescriptionChanged}-EXIF:ImageDescription={PersonalDescription}
{IfPersonalDescriptionChanged}-XMP:ImageDescription={PersonalDescription}
{IfPersonalDescriptionChanged}-XMP-dc:Description={PersonalDescription}
{IfPersonalDescriptionChanged}-XMP:Description={PersonalDescription}
{IfPersonalDescriptionChanged}-IPTC:Caption-Abstract={PersonalDescription}
{IfPersonalDescriptionChanged}-ItemList:Description={PersonalDescription}
{IfPersonalDescriptionChanged}-Description={PersonalDescription}
{IfPersonalRatingChanged}-XMP-microsoft:RatingPercent={PersonalRatingPercent}
{IfPersonalRatingChanged}-XMP:RatingPercent={PersonalRatingPercent}
{IfPersonalRatingChanged}-EXIF:RatingPercent={PersonalRatingPercent}
{IfPersonalRatingChanged}-XMP-xmp:Rating={PersonalRating}
{IfPersonalRatingChanged}-XMP:Rating={PersonalRating}
{IfPersonalRatingChanged}-XMP-acdsee:Rating={PersonalRating}
{IfPersonalRatingChanged}-EXIF:Rating={PersonalRating}
{IfPersonalRatingChanged}-Rating={PersonalRating}
{IfPersonalTitleChanged}-ItemList:Title={PersonalTitle}
{IfPersonalTitleChanged}-EXIF:XPTitle={PersonalTitle}
{IfPersonalTitleChanged}-XMP-dc:Title={PersonalTitle}
{IfPersonalTitleChanged}-XMP:Title={PersonalTitle}
{IfPersonalTitleChanged}-ItemList:Title={PersonalTitle}
{IfLocationLatitudeChanged}-EXIF:GPSLatitude={LocationLatitude}
{IfLocationLatitudeChanged}-XMP-exif:GPSLatitude={LocationLatitude}
{IfLocationLatitudeChanged}-XMP:GPSLatitude={LocationLatitude}
{IfLocationLatitudeChanged}-GPS:GPSLatitude={LocationLatitude}
{IfLocationLatitudeChanged}-GPSLatitude={LocationLatitude}
{IfLocationLongitudeChanged}-EXIF:GPSLongitude={LocationLongitude}
{IfLocationLongitudeChanged}-XMP-exif:GPSLongitude={LocationLongitude}
{IfLocationLongitudeChanged}-XMP:GPSLongitude={LocationLongitude}
{IfLocationLongitudeChanged}-GPS:GPSLongitude={LocationLongitude}
{IfLocationLongitudeChanged}-GPSLongitude={LocationLongitude}
{IfLocationNameChanged}-XMP:Location={LocationName}
{IfLocationNameChanged}-XMP-iptcCore:Location={LocationName}
{IfLocationNameChanged}-XMP-iptcExt:LocationShownSublocation={LocationName}
{IfLocationNameChanged}-XMP:LocationCreatedSublocation={LocationName}
{IfLocationNameChanged}-IPTC:Sub-location={LocationName}
{IfLocationNameChanged}-Sub-location={LocationName}
{IfLocationNameChanged}-Location={LocationName}
{IfLocationStateChanged}-XMP-iptcExt:LocationShownProvinceState={LocationState}
{IfLocationStateChanged}-XMP-photoshop:State={LocationState}
{IfLocationStateChanged}-IPTC:Province-State={LocationState}
{IfLocationStateChanged}-XMP:State={LocationState}
{IfLocationStateChanged}-State={LocationState}
{IfLocationCityChanged}-XMP-photoshop:City={LocationCity}
{IfLocationCityChanged}-XMP-iptcExt:LocationShownCity={LocationCity}
{IfLocationCityChanged}-IPTC:City={LocationCity}
{IfLocationCityChanged}-XMP:City={LocationCity}
{IfLocationCityChanged}-City={LocationCity}
{IfLocationCountryChanged}-IPTC:Country-PrimaryLocationName={LocationCountry}
{IfLocationCountryChanged}-XMP-photoshop:Country={LocationCountry}
{IfLocationCountryChanged}-XMP-iptcExt:LocationShownCountryName={LocationCountry}
{IfLocationCountryChanged}-XMP:Country={LocationCountry}
{IfLocationCountryChanged}-Country={LocationCountry}
{IfPersonalRegionChanged}-ImageRegion=
{IfPersonalRegionChanged}-RegionInfoMP={PersonalRegionInfoMP}
{IfPersonalRegionChanged}-RegionInfo={PersonalRegionInfo}
{IfPersonalKeywordsChanged}-Subject=
{IfPersonalKeywordsChanged}-Keyword=
{IfPersonalKeywordsChanged}-Keywords=
{IfPersonalKeywordsChanged}-XPKeywords=
{IfPersonalKeywordsChanged}-Category=
{IfPersonalKeywordsChanged}-Categories=
{IfPersonalKeywordsChanged}-CatalogSets=
{IfPersonalKeywordsChanged}-HierarchicalKeywords=
{IfPersonalKeywordsChanged}-HierarchicalSubject=
{IfPersonalKeywordsChanged}-LastKeywordXMP=
{IfPersonalKeywordsChanged}-LastKeywordIPTC=
{IfPersonalKeywordsChanged}-TagsList=
{IfPersonalKeywordsChanged}{PersonalKeywordItemsDelete}
{IfPersonalKeywordsChanged}{PersonalKeywordItemsAdd}
{IfPersonalKeywordsChanged}-Categories={PersonalKeywordsXML}
{IfPersonalKeywordsChanged}-XPKeywords={PersonalKeywordsList}
{FileFullPath}
-execute</value>
      </setting>
      <setting name="WriteMetadataKeywordAdd" serializeAs="String">
        <value>-Keywords+={KeywordItem}
-Subject+={KeywordItem}
-TagsList+={KeywordItem}
-CatalogSets+={KeywordItem}</value>
      </setting>
      <setting name="ApplicationThumbnail" serializeAs="String">
        <value>192, 192</value>
      </setting>
      <setting name="ThumbmailViewSizeIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ApplicationPreferredLanguages" serializeAs="String">
        <value>en;q=0.5,no;q=0.3,ru;q=0.2,*;q=0.1</value>
      </setting>
      <setting name="WriteMetadataKeywordDelete" serializeAs="String">
        <value>-Keywords-={KeywordItem}
-Subject-={KeywordItem}
-TagsList-={KeywordItem}
-CatalogSets-={KeywordItem}</value>
      </setting>
      <setting name="XtraAtomKeywordsVariable" serializeAs="String">
        <value>{PersonalKeywordsList}</value>
      </setting>
      <setting name="XtraAtomKeywordsVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomCategoriesVariable" serializeAs="String">
        <value>{PersonalKeywordsList}</value>
      </setting>
      <setting name="XtraAtomCategoriesVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomAlbumVariable" serializeAs="String">
        <value>{PersonalAlbum}</value>
      </setting>
      <setting name="XtraAtomAlbumVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomSubtitleVariable" serializeAs="String">
        <value>{PersonalDescription}</value>
      </setting>
      <setting name="XtraAtomSubtitleVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomSubtitlePicture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomSubjectVariable" serializeAs="String">
        <value>{PersonalDescription}</value>
      </setting>
      <setting name="XtraAtomSubjectVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomSubjectPicture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomCommentVariable" serializeAs="String">
        <value>{PersonalComments}</value>
      </setting>
      <setting name="XtraAtomCommentVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomCommentPicture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomRatingVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomRatingPicture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XtraAtomArtistVariable" serializeAs="String">
        <value>{PersonalAuthor}</value>
      </setting>
      <setting name="XtraAtomArtistVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchImageCommand" serializeAs="String">
        <value>exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"</value>
      </setting>
      <setting name="RunBatchImageCommandList" serializeAs="String">
        <value>exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
"C:\Program files\Exiftool\exiftool" -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
cmd.exe /K exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"       
cmd.exe /K /C exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
explorer ms-photos?filename="{FileFullPath}"</value>
      </setting>
      <setting name="RunBatchImageWaitForCommand" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchImageAppId" serializeAs="String">
        <value>Microsoft.Windows.Photos_8wekyb3d8bbwe!App</value>
      </setting>
      <setting name="RunBatchImageAppIdList" serializeAs="String">
        <value>Microsoft.Windows.Photos_8wekyb3d8bbwe!App
Microsoft.ScreenSketch_8wekyb3d8bbwe!App
Microsoft.MSPaint_8wekyb3d8bbwe!Microsoft.MSPaint</value>
      </setting>
      <setting name="RunBatchImageVerb" serializeAs="String">
        <value>open</value>
      </setting>
      <setting name="RunBatchImageVerbList" serializeAs="String">
        <value>open
edit</value>
      </setting>
      <setting name="RunBatchImageWaitForApp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchVideoCommand" serializeAs="String">
        <value>exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"</value>
      </setting>
      <setting name="RunBatchVideoCommandList" serializeAs="String">
        <value>exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
"C:\Program files\Exiftool\exiftool" -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
cmd.exe /K exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"       
cmd.exe /K /C exiftool -t -a -G0:1 -s -n -P -struct "{FileFullPath}"
explorer ms-photos?filename="{FileFullPath}"</value>
      </setting>
      <setting name="RunBatchVideoWaitForCommand" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchVideoAppId" serializeAs="String">
        <value>Microsoft.Windows.Photos_8wekyb3d8bbwe!App</value>
      </setting>
      <setting name="RunBatchVideoAppIdList" serializeAs="String">
        <value>Microsoft.Windows.Photos_8wekyb3d8bbwe!App</value>
      </setting>
      <setting name="RunBatchVideoWaitForApp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunBatchVideoVerb" serializeAs="String">
        <value>open</value>
      </setting>
      <setting name="RunBatchVideoVerbList" serializeAs="String">
        <value>open
edit</value>
      </setting>
      <setting name="OpenWithImageProgId" serializeAs="String">
        <value>AppX43hnxtbyyps62jhe9sqpdzxn1790zetc</value>
      </setting>
      <setting name="OpenWithImageVerb" serializeAs="String">
        <value>open</value>
      </setting>
      <setting name="OpenWithImageWaitForExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenWithVideoProgId" serializeAs="String">
        <value>AppX43hnxtbyyps62jhe9sqpdzxn1790zetc</value>
      </setting>
      <setting name="OpenWithVideoVerb" serializeAs="String">
        <value>open</value>
      </setting>
      <setting name="OpenWithVideoWaitForExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunArgumentCommandList" serializeAs="String">
        <value />
      </setting>
      <setting name="RunArgumentCommand" serializeAs="String">
        <value>cmd /K exiftool -charset utf8 -charset iptc=utf8 -codedcharacterset=utf8 -m -@ "{TempFileArgumentFullPath}"</value>
      </setting>
      <setting name="MaxRowsInSearchResult" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RunArgumentBuildCommandList" serializeAs="String">
        <value />
      </setting>
      <setting name="RunArgumentBuildCommand" serializeAs="String">
        <value>cmd /K exiftool -charset utf8 -charset iptc=utf8 -codedcharacterset=utf8 -m -@ "{TempFileArgumentFullPath}"</value>
      </setting>
      <setting name="RunArgumentBuildKeywordAdd" serializeAs="String">
        <value>-Keywords+={KeywordItem}
-Subject+={KeywordItem}
-TagsList+={KeywordItem}
-CatalogSets+={KeywordItem}</value>
      </setting>
      <setting name="RunArgumentBuildKeywordDelete" serializeAs="String">
        <value>-Keywords-={KeywordItem}
-Subject-={KeywordItem}
-TagsList-={KeywordItem}
-CatalogSets-={KeywordItem}</value>
      </setting>
      <setting name="RunArgumentBuildKeywordTags" serializeAs="String">
        <value>-charset
filename=UTF8
-overwrite_original
-m
-F
{IfLocationDateTimeChanged}-XMP-exif:GPSDateTime={LocationDateTimeUTC}
{IfLocationDateTimeChanged}-XMP:GPSDateTime={LocationDateTimeUTC}
{IfLocationDateTimeChanged}-GPS:GPSDateStamp={LocationDateTimeDateStamp}
{IfLocationDateTimeChanged}-GPS:GPSTimeStamp={LocationDateTimeTimeStamp}
{IfLocationDateTimeChanged}-GPSDateStamp={LocationDateTimeDateStamp}
{IfLocationDateTimeChanged}-GPSTimeStamp={LocationDateTimeTimeStamp}
{IfMediaDateTakenChanged}-Composite:SubSecCreateDate={MediaDateTaken}
{IfMediaDateTakenChanged}-EXIF:CreateDate={MediaDateTaken}
{IfMediaDateTakenChanged}-XMP-xmp:CreateDate={MediaDateTaken}
{IfMediaDateTakenChanged}-XMP:CreateDate={MediaDateTaken}
{IfMediaDateTakenChanged}-XMP:DateTimeOriginal={MediaDateTaken}
{IfMediaDateTakenChanged}-IPTC:DigitalCreationDate={MediaDateTakenDateStamp}
{IfMediaDateTakenChanged}-IPTC:DigitalCreationTime={MediaDateTakenTimeStamp}
{IfMediaDateTakenChanged}-Composite:SubSecDateTimeOriginal={MediaDateTaken}
{IfMediaDateTakenChanged}-ExifIFD:DateTimeOriginal={MediaDateTaken}
{IfMediaDateTakenChanged}-EXIF:DateTimeOriginal={MediaDateTaken}
{IfMediaDateTakenChanged}-XMP-photoshop:DateCreated={MediaDateTaken}
{IfMediaDateTakenChanged}-IPTC:DateCreated={MediaDateTakenDateStamp}
{IfMediaDateTakenChanged}-IPTC:TimeCreated={MediaDateTakenTimeStamp}
{IfMediaDateTakenChanged}-CreateDate={MediaDateTaken}
{IfPersonalAlbumChanged}-XMP-xmpDM:Album={PersonalAlbum}
{IfPersonalAlbumChanged}-XMP:Album={PersonalAlbum}
{IfPersonalAlbumChanged}-IPTC:Headline={PersonalAlbum}
{IfPersonalAlbumChanged}-XMP-photoshop:Headline={PersonalAlbum}
{IfPersonalAlbumChanged}-ItemList:Album={PersonalAlbum}
{IfPersonalAuthorChanged}-EXIF:Artist={PersonalAuthor}
{IfPersonalAuthorChanged}-IPTC:By-line={PersonalAuthor}
{IfPersonalAuthorChanged}-EXIF:XPAuthor={PersonalAuthor}
{IfPersonalAuthorChanged}-ItemList:Author={PersonalAuthor}
{IfPersonalAuthorChanged}-Creator={PersonalAuthor}
{IfPersonalCommentsChanged}-File:Comment={PersonalComments}
{IfPersonalCommentsChanged}-ExifIFD:UserComment={PersonalComments}
{IfPersonalCommentsChanged}-EXIF:UserComment={PersonalComments}
{IfPersonalCommentsChanged}-EXIF:XPComment={PersonalComments}
{IfPersonalCommentsChanged}-XMP-album:Notes={PersonalComments}
{IfPersonalCommentsChanged}-XMP-acdsee:Notes={PersonalComments}
{IfPersonalCommentsChanged}-XMP:UserComment={PersonalComments}
{IfPersonalCommentsChanged}-XMP:Notes={PersonalComments}
{IfPersonalCommentsChanged}-ItemList:Comment={PersonalComments}
{IfPersonalDescriptionChanged}-EXIF:ImageDescription={PersonalDescription}
{IfPersonalDescriptionChanged}-XMP:ImageDescription={PersonalDescription}
{IfPersonalDescriptionChanged}-XMP-dc:Description={PersonalDescription}
{IfPersonalDescriptionChanged}-XMP:Description={PersonalDescription}
{IfPersonalDescriptionChanged}-IPTC:Caption-Abstract={PersonalDescription}
{IfPersonalDescriptionChanged}-ItemList:Description={PersonalDescription}
{IfPersonalDescriptionChanged}-Description={PersonalDescription}
{IfPersonalRatingChanged}-XMP-microsoft:RatingPercent={PersonalRatingPercent}
{IfPersonalRatingChanged}-XMP:RatingPercent={PersonalRatingPercent}
{IfPersonalRatingChanged}-EXIF:RatingPercent={PersonalRatingPercent}
{IfPersonalRatingChanged}-XMP-xmp:Rating={PersonalRating}
{IfPersonalRatingChanged}-XMP:Rating={PersonalRating}
{IfPersonalRatingChanged}-XMP-acdsee:Rating={PersonalRating}
{IfPersonalRatingChanged}-EXIF:Rating={PersonalRating}
{IfPersonalRatingChanged}-Rating={PersonalRating}
{IfPersonalTitleChanged}-ItemList:Title={PersonalTitle}
{IfPersonalTitleChanged}-EXIF:XPTitle={PersonalTitle}
{IfPersonalTitleChanged}-XMP-dc:Title={PersonalTitle}
{IfPersonalTitleChanged}-XMP:Title={PersonalTitle}
{IfPersonalTitleChanged}-ItemList:Title={PersonalTitle}
{IfLocationLatitudeChanged}-EXIF:GPSLatitude={LocationLatitude}
{IfLocationLatitudeChanged}-XMP-exif:GPSLatitude={LocationLatitude}
{IfLocationLatitudeChanged}-XMP:GPSLatitude={LocationLatitude}
{IfLocationLatitudeChanged}-GPS:GPSLatitude={LocationLatitude}
{IfLocationLatitudeChanged}-GPSLatitude={LocationLatitude}
{IfLocationLongitudeChanged}-EXIF:GPSLongitude={LocationLongitude}
{IfLocationLongitudeChanged}-XMP-exif:GPSLongitude={LocationLongitude}
{IfLocationLongitudeChanged}-XMP:GPSLongitude={LocationLongitude}
{IfLocationLongitudeChanged}-GPS:GPSLongitude={LocationLongitude}
{IfLocationLongitudeChanged}-GPSLongitude={LocationLongitude}
{IfLocationNameChanged}-XMP:Location={LocationName}
{IfLocationNameChanged}-XMP-iptcCore:Location={LocationName}
{IfLocationNameChanged}-XMP-iptcExt:LocationShownSublocation={LocationName}
{IfLocationNameChanged}-XMP:LocationCreatedSublocation={LocationName}
{IfLocationNameChanged}-IPTC:Sub-location={LocationName}
{IfLocationNameChanged}-Sub-location={LocationName}
{IfLocationNameChanged}-Location={LocationName}
{IfLocationStateChanged}-XMP-iptcExt:LocationShownProvinceState={LocationState}
{IfLocationStateChanged}-XMP-photoshop:State={LocationState}
{IfLocationStateChanged}-IPTC:Province-State={LocationState}
{IfLocationStateChanged}-XMP:State={LocationState}
{IfLocationStateChanged}-State={LocationState}
{IfLocationCityChanged}-XMP-photoshop:City={LocationCity}
{IfLocationCityChanged}-XMP-iptcExt:LocationShownCity={LocationCity}
{IfLocationCityChanged}-IPTC:City={LocationCity}
{IfLocationCityChanged}-XMP:City={LocationCity}
{IfLocationCityChanged}-City={LocationCity}
{IfLocationCountryChanged}-IPTC:Country-PrimaryLocationName={LocationCountry}
{IfLocationCountryChanged}-XMP-photoshop:Country={LocationCountry}
{IfLocationCountryChanged}-XMP-iptcExt:LocationShownCountryName={LocationCountry}
{IfLocationCountryChanged}-XMP:Country={LocationCountry}
{IfLocationCountryChanged}-Country={LocationCountry}
{IfPersonalRegionChanged}-ImageRegion=
{IfPersonalRegionChanged}-RegionInfoMP={PersonalRegionInfoMP}
{IfPersonalRegionChanged}-RegionInfo={PersonalRegionInfo}
{IfPersonalKeywordsChanged}-Subject=
{IfPersonalKeywordsChanged}-Keyword=
{IfPersonalKeywordsChanged}-Keywords=
{IfPersonalKeywordsChanged}-XPKeywords=
{IfPersonalKeywordsChanged}-Category=
{IfPersonalKeywordsChanged}-Categories=
{IfPersonalKeywordsChanged}-CatalogSets=
{IfPersonalKeywordsChanged}-HierarchicalKeywords=
{IfPersonalKeywordsChanged}-HierarchicalSubject=
{IfPersonalKeywordsChanged}-LastKeywordXMP=
{IfPersonalKeywordsChanged}-LastKeywordIPTC=
{IfPersonalKeywordsChanged}-TagsList=
{IfPersonalKeywordsChanged}{PersonalKeywordItemsDelete}
{IfPersonalKeywordsChanged}{PersonalKeywordItemsAdd}
{IfPersonalKeywordsChanged}-Categories={PersonalKeywordsXML}
{IfPersonalKeywordsChanged}-XPKeywords={PersonalKeywordsList}
{FileFullPath}
-execute</value>
      </setting>
      <setting name="SuggestRegionNameTopMostCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SuggestRegionNameNearbyDays" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RegionMissmatchProcent" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="PeopleRename" serializeAs="String">
        <value>Unknown 1
Unknown 2
Unknown 3</value>
      </setting>
    </PhotoTagsSynchronizer.Properties.Settings>
    <Properties.Settings>
      <setting name="LastFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>1173, 778</value>
      </setting>
      <setting name="SplitContainerFolder" serializeAs="String">
        <value>283</value>
      </setting>
      <setting name="SplitContainerImages" serializeAs="String">
        <value>549</value>
      </setting>
      <setting name="SplitContainerMain" serializeAs="String">
        <value>514</value>
      </setting>
      <setting name="SplitContainerMap" serializeAs="String">
        <value>277</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="LastGoogleLocationFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="LocationUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="IsMainFormMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ComboBoxGoogleTimeZoneShift" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ComboBoxGoogleLocationInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ComboBoxMapZoomLevel" serializeAs="String">
        <value>13</value>
      </setting>
    </Properties.Settings>
    
    
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.WebUtilities" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TimeZoneConverter" publicKeyToken="e20ab7d0d9479841" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


</configuration>
