<?xml version="1.0" encoding="utf-8" ?>
<nlog keepFileOpen="false" concurrentWrites="true" concurrentWriteAttemptDelay="5" concurrentWriteAttempts="20" throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="PhotoTagsSynchronizer_Log.txt" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Warn" writeTo="logfile" />
  </rules>
</nlog>